{% extends 'base.html.twig' %}

{% block title %}Page de test
{% endblock %}


{% block body %}
  <h1>Page de test de mon nom et de mon age !</h1>

  <p> mon nom est : {{nom_famille}} et mon age : {{mon_age}} </p>
  <p>{{controller_name}}</p>


{% endblock %}