<footer class="container-fluid bg-dark py-4 mt-5 text-center text-light h3">
            <div class="container">
                <p class="text-center py-4">Copyright &copy;{{ 'now' | date('Y') }}- AFPA.fr</p>
            </div>
</footer>
